<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<deny users="?" />
			<!-- Ninguém não-logado entra -->
			<deny roles="Usuario" />
			<!-- Usuário normal não entra -->
			<allow roles="Admin" />
			<!-- Apenas Admin -->
		</authorization>
	</system.web>
</configuration>