/* --------------------------
   CONFIGURAÇÕES GERAIS
--------------------------- */
body#body-Produto {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.container.produto-card {
    max-width: 1000px;
    margin: 30px auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 6px;
}

    /* --------------------------
   TÍTULOS
--------------------------- */
    .container.produto-card h2,
    .container.produto-card h3 {
        font-weight: bold;
        margin-bottom: 20px;
    }

/* --------------------------
   FORMULÁRIO DE CADASTRO
--------------------------- */
.form-group {
    margin-bottom: 18px;
}

    .form-group label {
        display: inline-block;
        width: 150px;
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group textarea,
    .form-group select {
        width: 350px;
        padding: 6px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fff;
    }

    .form-group textarea {
        resize: vertical;
    }

.btn-cadastrar,
.btn-limpar {
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.btn-cadastrar {
    background-color: var(--vermelho-principal);
    border-color: var(--vermelho-principal);
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    color: white;
}

.btn-limpar {
    background-color: var(--vermelho-principal);
    border-color: var(--vermelho-principal);
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    color: white;
}


.grid {
    margin-top: 40px;
}

    .grid h3 {
        margin-bottom: 15px;
    }

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .table th,
    .table td {
        border: 1px solid #ddd !important;
        padding: 10px;
        text-align: left;
    }

    /* Botões da GridView */
    .table input[type="submit"],
    .table button {
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
    }

